<a title="" href='/cart/edit/<%="#{model}#{color}#{cordo}"%>' 
  onMouseOver="swatFoto('<%="#{name}"%>','/images/<%="#{model}#{color}#{cordo}"%>.jpg')" 
  onMouseOut="swatFoto('<%="#{name}"%>','/images/zap_white.jpg')">
  
  <img src="/images/zap_white.jpg" alt="" name="<%="#{name}"%>" width="113" height="106" border="0" 
  id="<%="#{name}"%>"/>

</a>
<img src="/images/bar_blue00.gif" width="113" height="2" border="0">
