<!--PRINTA EL LISTADO DE BAMBAS CON UN COLOR POR DEFECTO-->
    <!-- Contingut -->
    <div id="contingut">
    	<div class="barr_col1">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">
        </div>
        <div class="barr_col2">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">        
        </div>
        <div class="barr_col2">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">        
      </div>
          <div class="barr_col2">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">        
        </div>
        <div class="barr_col2">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">        
        </div>
       <div class="barr_col2">
	        <img src="/images/bar_blue01.gif" width="113" height="5" border="0">        
      </div>
        <div class="zap_col1">
           <%=render :partial=>"bamba2", :locals=>{:model=>"001",:color=>"A", :cordo=>"01", :name=>"z1"}%>
        </div>
        
        <div class="zap_col2">
	   <%=render :partial=>"bamba2", :locals=>{:model=>"002",:color=>"A", :cordo=>"06", :name=>"z2"}%>        
        </div>
         <div class="zap_col2">
	  <%=render :partial=>"bamba2", :locals=>{:model=>"003",:color=>"A", :cordo=>"01", :name=>"z3"}%>                 
	 </div>
         <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"004",:color=>"A", :cordo=>"04", :name=>"z4"}%>        
        </div>
          <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"005",:color=>"A", :cordo=>"07", :name=>"z5"}%>        
       </div>
      <div class="zap_col2">
          <%=render :partial=>"bamba2", :locals=>{:model=>"006",:color=>"A", :cordo=>"06", :name=>"z6"}%>        
      </div>
        <div class="zap_col1">
          <%=render :partial=>"bamba2", :locals=>{:model=>"007",:color=>"A", :cordo=>"05", :name=>"z7"}%>        
      </div>		      		
        <div class="banner_col1">
         	<%=@banner%>
      </div>
		<div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"008",:color=>"A", :cordo=>"06", :name=>"z8"}%>        
   	  </div>
        <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"009",:color=>"A", :cordo=>"06", :name=>"z9"}%>        
   	  </div>
      <div class="zap_col2">
	   <%=render :partial=>"bamba2", :locals=>{:model=>"010",:color=>"A", :cordo=>"05", :name=>"z10"}%>        
      </div>
      <div class="zap_col1">
        <%=render :partial=>"bamba2", :locals=>{:model=>"011",:color=>"A", :cordo=>"07", :name=>"z11"}%>        
	</div>	
       <div class="banner_col2">
         <img src="/images/bt_ver_todo.gif" width="239" height="108" border="0">
      </div>
      <div class="zap_col2">
         <%=render :partial=>"bamba2", :locals=>{:model=>"012",:color=>"A", :cordo=>"02", :name=>"z12"}%>        
      </div>
          
      <div class="zap_col2">
          <%=render :partial=>"bamba2", :locals=>{:model=>"013",:color=>"A", :cordo=>"05", :name=>"z13"}%>        
      </div>
      <div class="zap_col2">
	  <%=render :partial=>"bamba2", :locals=>{:model=>"014",:color=>"A", :cordo=>"06", :name=>"z14"}%>              
      </div>
      <div class="zap_col1">
	  <%=render :partial=>"bamba2", :locals=>{:model=>"015",:color=>"A", :cordo=>"02", :name=>"z15"}%>              
	</div>
        
        <div class="zap_col2">
          <%=render :partial=>"bamba2", :locals=>{:model=>"016",:color=>"A", :cordo=>"07", :name=>"z16"}%>        
         </div>
         <div class="zap_col2">
	   <%=render :partial=>"bamba2", :locals=>{:model=>"017",:color=>"A", :cordo=>"09", :name=>"z17"}%>        
         </div>
         <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"018",:color=>"A", :cordo=>"08", :name=>"z18"}%>        
        </div>
      <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"019",:color=>"A", :cordo=>"05", :name=>"z19"}%>        
      </div>
   <div class="zap_col2">
           <%=render :partial=>"bamba2", :locals=>{:model=>"020",:color=>"A", :cordo=>"08", :name=>"z20"}%>        
      </div>               
    </div>
   
