<h1> Administración </h1>
<h2>Opciones<h2>
<p><%=link_to 'Listado de productos', :action=>:list_products%></p>
<p><%=link_to 'Canviar imagenes', :action=>:set_imas%></p>
<p><%=link_to 'Listado de compradores', :action=>:list_buyers%></p>
<p><%=link_to 'Configurar banner', :action=>:edit_banner%></p>
<p><%=link_to 'Nuevo promocode', :action=>:new_promocode%></p>
<p><%=link_to 'Listado promocodes', :action=>:list_promocodes%></p>
<!--<p><%=link_to 'crear promocodes', :action=>:make_codes%></p>-->
<br/>
<p><%=link_to 'Salir', :action=>:signout%></p>
